#content {
  width: 880px;
  margin: 0 auto;
  text-align: center;
}

#content > div {
  border: 1px solid black;
  width: 435px;
  height: 200px;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: left;
}

#content > div > h1 {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  font-size: 1.5em;
  padding: 0.2em 0.5em;
}


#intro {
}

#schedule {
}

#news {
}

#gallery {
}
