<html>
  <head>
<script type='text/javascript'>

</script>
<style type='text/css'>

body {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#page {
    width: 900px;
    margin: 0 auto;
}

#calendar {
    font-size: 10px;
  width: 300px;
}

</style>
</head>
  <body>
    <div id="page">
      <h1>Dashboard</h1>
      <h3>Tournaments</h3>
      <ul>
        {% for ed in tournaments %}
        <li><a href="/dashboard/edition/{{ed.id}}">{{ ed.short_name }}</a></li>
        {% endfor %}
      </ul>
      <h3>Leagues</h3>
      <ul>
        {% for ed in leagues %}
        <li><a href="/dashboard/edition/{{ed.id}}">{{ ed.short_name }}</a></li>
        {% endfor %}
      </ul>
      <h3>Sparrings</h3>
      <ul>
        {% for ed in sparrings %}
        <li><a href="/dashboard/edition/{{ed.id}}">{{ ed.short_name }}</a></li>
        {% endfor %}
      </ul>
      <h3>Trainings</h3>
      <ul>
        {% for ed in trainings %}
        <li><a href="/dashboard/edition/{{ed.id}}">{{ ed.short_name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>

