{% load cms_tags sekizai_tags menu_tags %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
{% if LANGUAGE_CODE == "pl" %}
    <title>4hands - Warszawska Drużyna Ultimate</title>
{% else %}
    <title>4hands - Warsaw Ultimate Team</title>
{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" media="all" />
    {% render_block "css" %}
  </head>
  <body>
    <header>
{% if LANGUAGE_CODE == "pl" %}
      <h1 class="wide">4hands - Warszawska Drużyna Ultimate</h1>
{% else %}
      <h1 class="wide">4hands - Warsaw Ultimate Team</h1>
{% endif %}
      <h1 class="short">4hands</h1>
{% if LANGUAGE_CODE == "pl" %}
      <h2>Największa liczba rąk w Ultimate</h2>
{% else %}
      <h2>The greatest number of hands in Ultimate</h2>
{% endif %}
      <nav>
        <ul id="menu">
          {% show_menu 0 100 100 100 %}
        </ul>
      </nav>
      <div id="lang">
        {% language_chooser %}
      </div>
    </header>
    <div id="content">
      {% placeholder base_content %}
      {% block base_content%}{% endblock %}
    </div>  
    <footer>
    </footer>
      {% render_block "js" %}
  </body>
</html>
