body {
  overflow: scroll;
}


.tournament {
  border: 1px solid black;
}
#tournament td {
  vertical-align: top;
}

.stage {
  border: 1px solid black;
  overflow: hidden;
}

.stage > .settings {
  background-color: #ccc;
  top: 0;
  width: 100%;
  height: 40px;
}

.stage > .settings > .subsettings {
  border-top: 2px solid black;
  background-color: #aaa;
  height: 100%;
}

.stage > .settings > .type_settings {
  display: inline-block;
}

.stage > .settings > .type_settings input {
  width: 50px;
}

.groupbox,
.schedulebox {
  width: 80%;
  height: 140px;
  display: table
}

.groupbox > .group,
.schedulebox > .games {
  border: 1px solid black;
}

.rows {
  width: 100%;
  height: 80%;
}

.rows td {
  border: 1px solid black;
}
.schedule {
  width: 100%;
}
#teams {
  list-style-type: none; margin: 0; padding: 0;
  border: 1px solid black;
  padding: 10px;
}
#teams li {
  z-index: 20;
  margin: 0 3px 3px 3px;
  padding: 0;
  width: 50px;
  font-size: 0.8em;
  height: 18px;
  text-align: center;
}
#teams li span { position: absolute; margin-left: -1.3em; }

.team.placed {
  opacity: 0.5;
}

td > span {
  z-index: 20;
}

.tab-pane {
  overflow: hidden;
}

.team, .link {
  z-index: 100;
}

table.bracket {
  border: 1px solid black;
}

table.bracket table.game {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}
.slot, .link {
  width: 80px;
}

.link.ui-draggable {
  z-index: 100;
}

.stage > h1 {
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 0;
  margin: 0;
  background-color: #eee;
}
