body {
  overflow: scroll;
}

.tournament {
  border: 1px solid black;
}

#tournament > .stages {
  padding: 0;
  margin: 0;
}

.activeTarget {
  background-color: #ffffcc;
}

.stage {
  border: 1px solid #aaa;
  overflow: hidden;
  width: 330px;
  display: inline-block;
  padding: 0;
  margin: 0;
  min-height: 300px;
  vertical-align: top;
}

.stage > header {
  height: 30px;
  background-color: #eee;
  width: 100%;
}

.editable-click {
  cursor: text;
  border: 0;
}

header > h1 {
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 5px;
  margin: 0;
  display: inline;
}

.stage > .settings {
  height: 50px;
  background-color: #ddd;
  width: 100%;
}

.stage > .settings label {
  display: inline;
}

.stage > .settings select {
  width: auto;
}

.stage > header > .toolbar {
  float: right;
  top: 0;
  height: 40px;
}

.stage > header > .settings_trigger {
  float: right;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 1.4em;
  padding-top: 10px;
}

#teams {
  list-style-type: none; margin: 0; padding: 0;
  border: 1px solid black;
  padding: 10px;
}
#teams li {
  z-index: 20;
  margin: 0 3px 3px 3px;
  padding: 0;
  width: 50px;
  font-size: 0.8em;
  height: 18px;
  text-align: center;
}
#teams li span { position: absolute; margin-left: -1.3em; }

td > span {
  z-index: 20;
}

.tab-pane {
  overflow: hidden;
}

.team, .link {
  z-index: 100;
}

table.bracket {
  border: 1px solid black;
}

table.bracket table.game {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}
.cell, .link {
  width: 80px;
}

.link.ui-draggable {
  z-index: 100;
}



.group {
  width: 300px;
  border: 1px solid #bbb;
  margin: 5px;
}

.group > .nav-tabs > li > a {
  padding-bottom: 0;
  padding-top: 0;
} 

.group > .nav-tabs > li {
  float: right;
}

.group > .nav-tabs > li.name {
  float: left;
}

.group .tab-content table {
  width: 100%;
}

.group .tab-content tr {
  width: 100%;
  height: 80%;
}

.group .tab-content td.pos {
  width: 20px;
}

.group .tab-content td.pos {
  padding-left: 5px;
  padding-right: 5px;
  width: 20px;
}

.group .tab-content td.main {
  width: 100%;
  height: 20px;
}

.group .tab-content td {
  border: 1px solid #bbb;
}

input[type=text] {
  height: auto;
}

.source > .name {
  color: #999;
  display: inline-block;
}

.source > .target {
  background-color: #eee;
  display: inline-block;
}

.source > .actions {
  display: inline-block;
}
