<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript">
      var d3graph_settings = {
          'json_url': 'http://127.0.0.1:8000/views/api/view_graph/{{ view.id }}/data.json',
        'root_id': '#body'
      }
    </script>
    {% include "views/d3graph.html" %}
  </head>
  <body>
      <h1>{{ view.name }}</h1>
      <a href="{% url teammanager.views.views.views.views %}">&lt;&lt; all</a>
      <ul class="sortable">
      {% for pwv in view.people_with_values %}
      <li id="li-{{pwv.id}}">
          <label>{{ pwv }}</label>
          <input type="text" class="amount" value="{{ pwv.value|default_if_none:"" }}" />
      </li>
      {% endfor %}
  </ul>
  <div id="body" style="position: absolute; top: 0;right:0; width: 500px; height: 500px;"></div>
  <script type="text/javascript">
    d3graph_show();
  </script>
  </body>
</html>



