<html>
  <head>
    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.22.custom.css">
    <link rel="stylesheet" href="/static/css/drawboard.css">
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.9.0.beta.min.js"></script>
    <script type="text/javascript" src="/static/js/drawboard.js"></script>
<script type="text/javascript">
</script>
<style type="text/css">
</style>
  </head>
  <body>
    <div class="edition">
      <button id="add_phase" onclick="add_phase()">Add phase</button>
    <ul id="teams">
      <li class="ui-state-default">4hands</li>
      <li class="ui-state-default">BC</li>
      <li class="ui-state-default">RJP</li>
      <li class="ui-state-default">GMF</li>
      <li class="ui-state-default">FC</li>
      <li class="ui-state-default">WTF</li>
      <li class="ui-state-default">mJAH</li>
      <li class="ui-state-default">Zaw</li>
  </ul>
  <div class="tabs">
    <ul>
        <li><a href="#phase-1-seed">Seed</a></li>
        <li><a href="#phase-1-games">Games</a></li>
        <li><a href="#phase-1-advances">Advances</a></li>
    </ul>
    <div id="phase-1-seed" class="seed">

  <div class="groupbox">
      <div class="group">
          <span>Group A</span>
          <button>clear</button>
          <table class="rows" border="1">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
      </div>
      <div class="group">
      
          <span>Group B</span>
          <button>clear</button>
          <table class="rows" border="1">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
  </div>
    </div>
    <div id="phase-1-games">
  
    <div class="schedule">
      <div class="schedulebox">
          <div class="games">
          Field 1
            <table border="1">
                <tr>
                  <td>round 1</td>
                  <td>HH:MM</td>
                  <td>?? vs. ??</td>
              </tr>
              <tr>
                  <td>round 1</td>
                  <td>HH:MM</td>
                  <td>?? vs. ??</td>
              </tr>
              <tr>
                  <td>round 1</td>
                  <td>HH:MM</td>
                  <td>?? vs. ??</td>
              </tr>
              <tr>
                  <td>round 1</td>
                  <td>HH:MM</td>
                  <td>?? vs. ??</td>
              </tr>
              <tr>
                  <td>round 1</td>
                  <td>HH:MM</td>
                  <td>?? vs. ??</td>
              </tr>
              <tr>
                  <td>round 1</td>
                  <td>HH:MM</td>
                  <td>?? vs. ??</td>
              </tr>
              </table>
        </div>
        <div class="games">
            Field 2
            <table border="1">
              <tr>
                  <td>round 1</td>
                  <td>HH:MM</td>
                  <td>?? vs. ??</td>
              </tr>
              <tr>
                  <td>round 1</td>
                  <td>HH:MM</td>
                  <td>?? vs. ??</td>
              </tr>
              <tr>
                  <td>round 1</td>
                  <td>HH:MM</td>
                  <td>?? vs. ??</td>
              </tr>
              <tr>
                  <td>round 1</td>
                  <td>HH:MM</td>
                  <td>?? vs. ??</td>
              </tr>
              <tr>
                  <td>round 1</td>
                  <td>HH:MM</td>
                  <td>?? vs. ??</td>
              </tr>
              <tr>
                  <td>round 1</td>
                  <td>HH:MM</td>
                  <td>?? vs. ??</td>
              </tr>
              </table>
        </div>
      </div>
    </div>
    </div>
    <div id="phase-1-advances">
  <div class="groupbox">
      <div class="group">
          <span>Group A</span>
          <button>clear</button>
          <table class="rows" border="1">
            <tr>
                <td>A1</td>
            </tr>
            <tr>
                <td>A2</td>
            </tr>
            <tr>
                <td>A3</td>
            </tr>
            <tr>
                <td>A4</td>
            </tr>
        </table>
      </div>
      <div class="group">
      
          <span>Group B</span>
          <button>clear</button>
          <table class="rows" border="1">
            <tr>
                <td>B1</td>
            </tr>
            <tr>
                <td>B2</td>
            </tr>
            <tr>
                <td>B3</td>
            </tr>
            <tr>
                <td>B4</td>
            </tr>
        </table>
    </div>
    </div>
  </div>
  <div class="phase" style="display: none">
    <div class="settings">
      <select>
        <option>group</option>
        <option>play-off</option>
      </select>
      <div class="subsettings">
        <label>Groups:</label>
        <input type="text" size="4" value="2"></input>
        <label>Group size:</label>
        <input type="text" size="4" value="4"></input>
        <button>Auto-fill (seed)</button>
        <button>Auto-fill (random)</button>
        <button>Clear</button>
        <br/>
        <label>Fields:</label>
        <input type="text" size="4" value="2"></input>
      </div>
  </div>
  </div>
    </div>
  </body>
</html>

