<html>
  <head>
    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.22.custom.css">
    <link rel="stylesheet" href="/static/css/gamechart.css">
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.9.0.beta.min.js"></script>
    <script type="text/javascript" src="/static/js/drawboard_widget.js"></script>
    <script type="text/javascript" src="/static/js/phase_widget.js"></script>
    <script type="text/javascript" src="/static/js/group_widget.js"></script>
    <script type="text/javascript" src="/static/js/gamechart.js"></script>
<script type="text/javascript">
  $(function() {
    $("#chart").drawboard();
	});
</script>
<style type="text/css">

</style>
  </head>
  <body>
    <div id="chart">
    </div>
  </body>
</html>

