<html>
  <head>
<script type='text/javascript'>

</script>
<style type='text/css'>

body {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#page {
    width: 900px;
    margin: 0 auto;
}

</style>
</head>
  <body>
    <div id="page">
      <h1>Edition: <a href="/edition/{{ game.group.phase.edition_division.edition.id }}">{{ game.group.phase.edition_division.edition.short_name }}</a></h1>
      <h2>Division: <a href="/dashboard/division/{{ game.group.phase.edition_division.id }}">{{ game.group.phase.edition_division.division.name }}</a></h2>
      <h3>Phase: <a href="/phase/{{ game.group.phase.id }}">{{ game.group.phase.name }}</a></h3>
      <h3>Group: <a href="/group/{{ game.group.id }}">{{game.group.name}}</a></h3>
      <h1>Game: {{ game.squad1.name }} vs. {{ game.squad2.name }}</h1>
      <h3>Score: {{game.points1}} : {{game.points2}}</h3>
      <h3>Start: {{game.start}}</h3>
      <h3>Status: {{game.state}}</h3>
      <table border="1">
        <tr>
          <th>Player</th>
          <th>Assists</th>
          <th>Points</th>
          <th>Sum</th>
        </tr>
        {% for player in game.squad1.players_playing %}
        <tr>
          <td>{{player}}</td>
        </tr>
        {% endfor %}
      </table>
      <table border="1">
        <tr>
          <th>Player</th>
          <th>Assists</th>
          <th>Points</th>
          <th>Sum</th>
        </tr>
        {% for player in game.squad2.players_playing %}
        <tr>
          <td>{{player}}</td>
        </tr>
        {% endfor %}
      </table>
      <table border="1">
        <tr>
          <th>What</th>
          <th>Who</th>
          <th>Assist</th>
          <th>Team</th>
          <th>Time</th>
          <th>Desc</th>
        </tr>
        {% for moment in game.moments.all %}
        <tr>
            <td>{{moment.moment_type}}</td>
            <td>{{moment.player1}}</td>
            <td>{{moment.player2}}</td>
            <td>{{moment.team.team}}</td>
            <td>{{moment.time}}</td>
            <td>{{moment.desc}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>




