<html>
    <head>
<script type="text/javascript" src="/site_media/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/site_media/bracket/jquery.bracket-5.js"></script>
<link rel="stylesheet" type="text/css" href="/site_media/bracket/jquery.bracket-5.css" />
<script type='text/javascript'>


var mData = [
{
    teams : [
      ["A1", "C2"], /* first matchup */
      ["B1", "D2"],  /* second matchup */
      ["B2", "D1"],  /* second matchup */
      ["A2", "C1"]  /* second matchup */
    ],
    results : [
      [10, 5],
    ]
},
{
  teams : [
    ["1l", "3l"],
    ["2l", "4l"]
  ]
}
]

$(document).ready(function() {
    $('#chart').bracket({
      init: mData[0] /* data to initialize the bracket with */ })
    $('#chart2').bracket({
      init: mData[1] /* data to initialize the bracket with */ })
})

</script>
<style type='text/css'>

body {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#page {
    width: 900px;
    margin: 0 auto;
}

#calendar {
    font-size: 10px;
  width: 300px;
}


#chart,
#chart2 {
  text-align: left;
}

</style>
</head>
  <body>
    <div id="page">
      <h1>Edition: <a href="/dashboard/edition/{{ group.phase.edition_division.edition.id }}">{{ group.phase.edition_division.edition.short_name }}</a></h1>
      <h2>Division: <a href="/dashboard/division/{{ group.phase.edition_division.id }}">{{ group.phase.edition_division.division.name }}</a></h2>
      <h3>Phase: <a href="/dashboard/phase/{{ group.phase.id }}">{{ group.phase.name }}</a></h3>
      <div id="chart"></div> 
      <div id="chart2"></div> 
      <h3>Games:</h3>
      <ul>
        {% for game in group.games.all %}
        <li><a href="/dashboard/game/{{game.id}}">{{game.home_display }} vs. {{ game.away_display }} [{{game.name}}]</a></li>
        {% endfor %}
    </ul>
    </div>
  </body>
</html>







