<html>
  <head>
<script type='text/javascript'>

</script>
<style type='text/css'>

body {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#page {
    width: 900px;
    margin: 0 auto;
}

#calendar {
    font-size: 10px;
  width: 300px;
}

</style>
</head>
  <body>
    <div id="page">
      <h1>Edition: <a href="/edition/{{ group.phase.edition_division.edition.id }}">{{ group.phase.edition_division.edition.short_name }}</a></h1>
      <h2>Division: <a href="/division/{{ group.phase.edition_division.id }}">{{ group.phase.edition_division.division.name }}</a></h2>
      <h3>Phase: <a href="/phase/{{ group.phase.id }}">{{ group.phase.name }}</a></h3>
      <h3>Table:</h3>
      <table border="1">
        <tr>
          <th>#</th>
          <th>Team</th>
          <th>Games</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>P+</th>
          <th>P-</th>
          <th>P diff</th>
        </tr>
        {% for row in table %}
        <tr>
          <td>{{row.num}}</td>
          <td>{{row.name}}</td>
          <td>{{row.games}}</td>
          <td>{{row.wins}}</td>
          <td>{{row.losses}}</td>
          <td>{{row.ps}}</td>
          <td>{{row.pl}}</td>
          <td>{{row.pd}}</td>
        </tr>
        {% endfor %}
      </table>
      <h3>Games:</h3>
      <ul>
        {% for game in group.games.all %}
        <li><a href="/game/{{game.id}}">{{game.home_display }} vs. {{ game.away_display }} [{{game.name}}]</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>






