<html>
  <head>
<script type='text/javascript'>

</script>
<style type='text/css'>

body {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#page {
    width: 900px;
    margin: 0 auto;
}

#calendar {
    font-size: 10px;
  width: 300px;
}

</style>
</head>
  <body>
    <div id="page">
      <h1>Edition: <a href="/dashboard/edition/{{ phase.edition_division.edition.id }}">{{ phase.edition_division.edition.short_name }}</a></h1>
      <h2>Division: <a href="/dashboard/division/{{ phase.edition_division.id }}">{{ phase.edition_division.division.name }}</a></h2>
      <h3>Phase: {{ phase.name }}</h3>
      <h3>Groups:</h3>
      <ul>
        {% for group in phase.direct_groups %}
        <li><a href="/dashboard/group/{{group.id}}">Group {{group.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>





