<html>
  <head>
    <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.9.2.custom.min.css">
    <link rel="stylesheet" href="/static/css/planner.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/planner.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
</script>
<style type="text/css">
</style>
  </head>
  <body>
    <div class="tournament">
      <button id="add_stage">Add stage</button>
    </div>
    <table id="tournament">
      <tr>
        <td>
    <ul id="teams">
      <li class="ui-state-default">4hands</li>
      <li class="ui-state-default">BC</li>
      <li class="ui-state-default">RJP</li>
      <li class="ui-state-default">GMF</li>
      <li class="ui-state-default">FC</li>
      <li class="ui-state-default">WTF</li>
      <li class="ui-state-default">mJAH</li>
      <li class="ui-state-default">Zaw</li>
  </ul>
        </td>
        <td>
  <table id="standings">
  </table>
</td>
      </tr>
    </table>
  </body>
</html>

