html {
   height: 100%;
} 

body {
   margin: 0;
   height: 100%;
   width: 100%;
} 

.view-score .container  {
   height: 50%;
   width: 60%;
   top: 25%;
   left: 25%;
   position: absolute;
}

.view-gamesettings .container {
   height: 50%;
   width: 70%;
   top: 5%;
   left: 15%;
   position: absolute;
}

.row {
  font-size: 3vw;
}

.panel-default {
  width: 100%;
}

.panel-body {
  text-align: center;
}

.start {
  font-size: 3vw;
}

.game-settings {
  font-size: 1.2vw;
}

.progress {
  width: 7%;
  margin-top: 1.6%;
}

.main-nav {
  width: 20%;
  font-size: 2vw;
}

.row .btn {
  font-size: 3vw;
}

.table {
  text-align: left;
}

.table.game-list {
  cursor: pointer;
}

.table.game-list tr:hover {
  background-color: #eee;
}

.view {
  display: none;
}

.view.current {
  display: block;
}

.view-score .btn-back {
  cursor: pointer;
}
