<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/site_media/css/ui-lightness/jquery-ui-1.8.21.custom.css">
    <link rel="stylesheet" href="/site_media/skills.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/site_media/js/jquery-1.7.2.min.js "></script>
    <script type="text/javascript" src="/site_media/js/jquery-ui-1.8.21.custom.min.js "></script>
    <script type="text/javascript" src="/site_media/js/skills.js "></script>
  </head>
  <body>
      <h1>{{ view.name }}</h1>
      <ul class="sortable">
      {% for person in view.current_people %}
      <li id="li-{{person.id}}">
          <label for="slider-{{person.id}}" class="player" id="player-{{person.id}}">{{ person }}</label></td>
          <div class="slider" id="slider-{{person.id}}"></div>
	      <input type="text" class="amount" style="border:0; color:#f6931f; font-weight:bold;" />
      </li>
      {% endfor %}
  </ul>
  </body>
</html>


