{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{team_home.name}} vs. {{team_away.name}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'reporter/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'reporter/css/score.css' %}" />

    <script src="{% static 'reporter/jquery.js' %}"></script>
    <script src="{% static 'reporter/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'reporter/js/reporter.js' %}"></script>
<script src="{% static 'reporter/js/gamelist.js' %}"></script>
<script src="{% static 'reporter/js/gamesettings.js' %}"></script>
<script src="{% static 'reporter/js/score.js' %}"></script>
<script src="{% static 'reporter/js/actions.js' %}"></script>
<script src="{% static 'reporter/js/db.js' %}"></script>
  </head>

  <body>
    <div id="view-gamelist" class="view view-gamelist">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Games</h3>
        </div>
        <table class="panel-body table table-bordered game-list">
          <thead>
            <tr>
              <th>Time</th>
              <th>Home</th>
              <th>Away</th>
              <th>Score</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <button class="btn-add">Add game</button>
    </div>
    <div id="view-gamesettings" class="view view-gamesettings">
      <button class="btn-back">Back</button>
      <div class="container">
        <div class="panel panel-default">
          <div class="panel-heading">Add new game</div>
          <div class="panel-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputTeam1" class="col-lg-2 control-label">Team 1</label>
                <div class="col-lg-10">
                  <select class="form-control" id="inputTeam1">
                    <option value="1">BAB</option>
                    <option value="2">OSC</option>
                    <option value="3">Fluffer</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputTeam2" class="col-lg-2 control-label">Team 2</label>
                <div class="col-lg-10">
                  <select class="form-control" id="inputTeam2">
                    <option value="1">BAB</option>
                    <option value="2">OSC</option>
                    <option value="3">Fluffer</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputStarts" class="col-lg-2 control-label">Starts</label>
                <div class="col-lg-10">
                  <input type="datetime" id="inputStarts" class="form-control" placeholder="2013-08-13 12:00">
                </div>
              </div>
              <div class="form-group">
                <label for="inputCap" class="col-lg-2 control-label">Cap</label>
                <div class="row">
                  <div class="col-lg-2">
                    <input type="text" id="inputCap" class="form-control" placeholder="15">
                  </div>
                  <div class="col-lg-3">
                    <select class="form-control" id="inputCapType">
                      <option value="points">points</option>
                      <option value="min">min</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPointCap" class="col-lg-2 control-label">Point cap</label>
                <div class="col-lg-10">
                    <input type="text" id="inputPointCap" class="form-control" placeholder="15">
                </div>
              </div>
              <div class="form-group">
                <label for="inputStarts" class="col-lg-2 control-label">Time cap</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="75">
                </div>
              </div>
              <div class="form-group">
                <label for="inputStarts" class="col-lg-2 control-label">Soft cap</label>
                <div class="row">
                  <div class="col-lg-2">
                    <input type="text" class="form-control" placeholder="17">
                  </div>
                  <div class="col-lg-3">
                    <select class="form-control" id="inputTeam2">
                      <option>points</option>
                      <option>min</option>
                    </select>
                  </div>
                  <div class="col-lg-2">
                    <input type="text" class="form-control" placeholder="+2">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputStarts" class="col-lg-2 control-label">Hard cap</label>
                <div class="row">
                  <div class="col-lg-2">
                    <input type="text" class="form-control" placeholder="110">
                  </div>
                  <div class="col-lg-3">
                    <select class="form-control" id="inputTeam2">
                      <option>points</option>
                      <option selected>min</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputStarts" class="col-lg-2 control-label">Timeouts</label>
                <div class="row">
                  <div class="col-lg-2">
                    <input type="text" class="form-control" placeholder="2">
                  </div>
                  <div class="col-lg-3">
                    <select class="form-control" id="inputTeam2">
                      <option>half</option>
                      <option>game</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <button type="submit" class="btn btn-default btn-add">Add</button>
                </div>
              </div>
            </form>
          </div>
        </div>

    </div>
    </div>
    <div id="view-score" class="view view-score">
    
      <nav class="navbar navbar-inverse game-settings" role="navigation">
        <p class="navbar-text starts"></p>
        <p class="navbar-text regular-cap"></p>
        <p class="navbar-text point-cap"></p>
        <p class="navbar-text soft-cap"></p>
        <p class="navbar-text hard-cap"></p>
        <p class="navbar-text timeouts"></p>

        <p class="navbar-text navbar-right">Starts in 20 min</p>
        <div class="progress progress-striped navbar-right">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span class="sr-only">0% Complete</span>
          </div>
        </div>
      </nav>
      <ul class="nav nav-pills nav-stacked main-nav" id="myTab">
        <li class="active"><a href="#score">Score</a></li>
        <li><a href="#logs">Logs</a></li>
      </ul>


      <div class="tab-content container">
        <div class="tab-pane active" id="score">
          <div class="row">
            <div class="col-xs-6 team1">
              <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                  <span class="goals"></span>
                  <button type="button" class="btn btn-success btn-lg btn-block goal-btn hidden">+1</button>
                  <button type="button" class="btn btn-default btn-lg btn-block timeout-btn hidden">Time-out</button>
                  <button type="button" class="btn btn-primary btn-lg btn-block pull-btn pull-left">pull left</button>
                  <button type="button" class="btn btn-primary btn-lg btn-block pull-btn pull-right">pull right</button>
                </div>
              </div>
            </div>
            <div class="col-xs-6 team2">
              <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                  <span class="goals"></span>
                  <button type="button" class="btn btn-success btn-lg btn-block goal-btn hidden">+1</button>
                  <button type="button" class="btn btn-default btn-lg btn-block timeout-btn hidden">Time-out</button>
                  <button type="button" class="btn btn-primary btn-lg btn-block pull-btn pull-left">pull left</button>
                  <button type="button" class="btn btn-primary btn-lg btn-block pull-btn pull-right">pull right</button>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-lg btn-block period-end-btn hidden"></button>
        </div>
        <div class="tab-pane" id="logs">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Logs</h3>
            </div>
            <table class="panel-body table table-bordered logs">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>Type</th>
                  <th>Player 1</th>
                  <th>Player 2</th>
                  <th>Team</th>
                  <th>Note</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for moment in logs %}
                <tr data-moment-id="{{moment.pk}}">
                  <td>{{moment.time}}</td>
                  <td>{{moment.moment_type}}</td>
                  <td>{{moment.player1|default:""}}</td>
                  <td>{{moment.player2|default:""}}</td>
                  <td>{{moment.team|default:""}}</td>
                  <td></td>
                  <td>
                    <button type="button" class="btn btn-default btn-lg">
                      <span class="glyphicon glyphicon-sort"></span>
                    </button>

                    <button type="button" class="btn btn-default btn-lg">
                      <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-lg remove-btn">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    


 </body>
</html>
