html {
   height: 100%;
} 

body {
   margin: 0;
   height: 100%;
   width: 100%;
   background-color: #eee;
   display: flex;
   flex-flow: column;
} 


header, footer {
  display: block;
  margin: 0px;
  padding: 0px;
  min-height: 2em;
  background: #ffeebb;
}

#main {
  margin: 0px;
  padding: 0px;
  flex: 1 1 auto;
  display: flex;
}

#logo {
  cursor: pointer;
}

h1 {
  display: inline-block;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #eebbff;
  width: 10em;
  overflow: hidden;
  position: absolute;
  left: -10em;
  height: calc(100% - 2em);
  transition: 0.4s;
  z-index: 100;
  transition-timing-function: ease;
}

body.menu_open nav {
  left: 0em;
}

div#views {
  flex: 1 1 auto;
}

div.cover {
  position: absolute;
  left: 0em;
  width: 100%;
  height: calc(100% - 2em);
  background-color: black;
  opacity: 0;
  transition: 0.4s;
  z-index: -1;
}

body.menu_open div.cover {
  opacity: 0.5;
  z-index: 50;
}

.menu-toggle {
  transition: 0.4s;
}

body.menu_open .menu-toggle {
  margin-left: -0.5em;
  margin-right: 0.5em;
}

.view {
  display: none;
}

.view.current {
  display: block;
}


/* specific */

.view-score .container  {
   height: 50%;
   width: 60%;
   top: 20%;
   left: 25%;
   position: absolute;
}

.view-gamesettings .container {
   height: 50%;
   width: 70%;
   top: 5%;
   left: 15%;
   position: absolute;
}

.view-roster .container {
   height: 50%;
   width: 70%;
   top: 5%;
   left: 15%;
   position: absolute;
}

.view-gamelist .btn-clear,
.view-gamelist .btn-sync {
  float: right;
  margin-right: 2%;
}

.view-gamelist h1 {
  margin-left: 2%;
}

.view-score .row {
  font-size: 3vw;
}

.view-gamelist .panel-default {
  width: 100%;
}

.panel-body {
  text-align: center;
}

.start {
  font-size: 3vw;
}

.game-settings {
  font-size: 1.2vw;
}

.progress {
  width: 7%;
  margin-top: 1.6%;
}

.main-nav {
  width: 20%;
  font-size: 2vw;
}

.view-score .row .btn {
  font-size: 3vw;
}

.table {
  text-align: left;
}

.table.game-list tbody tr:hover {
  background-color: #eee;
  cursor: pointer;
}


.view-score .btn-back {
  cursor: pointer;
}

.view-roster table {
  width: 100%;
  font-size: 1.5vw;
}

.view-roster .panel-default {
  width: 90%;
}

.view-score #lines .table-lines-men td,
.view-score #lines .table-lines-women td {
  cursor: pointer;
  font-size: 1.5vw;
}

.view-score .table-lines-stats {
  margin-top: 10%;
}

#lines .offense-btn {
  margin-top: 1%;
}
#lines .btn {
  font-size: 1.5vw;
}

#lines .table-lines-men td.in,
#lines .table-lines-women td.in {
  background-color: rgb(66, 139, 202);
  color: rgb(255, 255, 255);
}
